#forth {
    margin: 100px auto;
    .card_con {
        width: 100%;
        .card{
             box-shadow: 1px 2px 5px #7c7c7c;
            img {
                width: 100%;
            }
            div {
                padding: 10px;
                h2 {
                    font-size: 1.4rem;
                }
                h3 {
                    color: $grey;
                    margin: 12px 0 10px;
                }
                button {
                    background: $lightGrey;
                    width: 100%;
                    @include center;
                    margin-top: 10px;
                    padding: 10px;
                    img {
                        height: 15px;
                        width: 15px;
                        margin-right: 3px;
                    }
                }
            }
        }
    }
}