#sixth {
    margin: 100px 0;

    div {
        margin: 20px 0 0;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;

        img {
            width: 100%;
        }
    }
}